/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;

}

.orange-color {
    color: #FD6E0A;
}

/* shared google fonts */
body {
    font-family: 'Open Sans', sans-serif;

}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/* header related styles */
.header-class {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 520px;
}

.banner img {
    width: 500px;

}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5 px;
    margin-bottom: 20px;
}

.para {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}

/* main section styles */
main {
    width: 1200px;
    margin: 1140px auto;
}

.about {
    padding: 130px;
    background: #FFF8F3;
    margin: 130px 0px;
    border-radius: 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
   
}

.section-para {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

.info-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.info-description {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

.section-para1 {
    padding-inline: 150px;
    padding-block: 30px;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skill {
    padding: 20px 30px;
    box-shadow: 2px 2px 30px 5px rgb(244, 243, 243);
    margin: 10px;
}

.skill-title {
    padding: 10px 0px;
}

.skill-para {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 10px 0px;
    /* 175% */
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    
}
.resume-container {
   display: flex;
   gap: 50px; 
  
}
#summary{
    margin-top: 100px;
}
