/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 200px;
    
}

.orange-color {
    color: #FD6E0A;
}

/* shared google fonts */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
     margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}
/* header related styles */
.header-class{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}
.banner img{
    width: 500px;
    
}